*{
  box-sizing:border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #eff3f7;
  height: 100%;
  width:100vw;
}
.header {
  font-size: 30px;
  text-align: center;
  background-color: beige;
}

.logo{
  margin-top: 15px;
  margin-bottom: 0;
}

h1{
  font-family: 'HSYuji-Regular';
  font-weight: 200;
  margin-top: 15px;
  padding-bottom: 20px;
  margin-bottom:0;
}
@font-face {
  font-family: 'HSYuji-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
