.images{

}

.image-container{
  position:relative;

  width: 400px;
  height:300px;
  display:inline-flex;
  overflow: hidden;
}

.image-container img{
  flex:1;
  object-fit: cover;
}

.image-container img:hover{
  cursor: pointer;
  filter:brightness(0.5);
  transition: filter 0.4s;
}



.image-container .image-title{
  position:absolute;
  top:50%;
  left:calc(50% - 20px);
  background-color: rgba(0,0,0,0.6);
  color:white;
  padding:5px;
}